.headline{
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.byline{
  font-family: "Bebas Neue", sans-serif;
  font-size: 12pt;
  text-align: center;
  font-weight: 700;
}

.body{
  font-family: 'Merriweather', serif;
  font-size: 14pt;
  color: black;
  }

h4{
  font-family: "Merriweather"
}
p{
  font-family:"Merriweather", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  align-content: center;
}

h2{
  font-family: "Bebas Neue"
font-size: 24pt;
text-align: center;
}

h3{
  font-size: 12pt;
}

h4{
  font-family: "Bebas Neue";
  font-size: 10pt;
  font-style: italic;
}


.graphic-container{
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Bebas Neue', sans-serif;
 margin:0 auto;

}

.caption{
  font-family: "merriweather";
  font-style: italic;
  font-size: 9pt;
  text-align: center;
}

blockquote{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  color: #a41700;
  font-family: "bebas neue";
  font-size: 24pt;
}

/*links*/
a:link{
  #a41700
  text-decoration: none;
}

a:hover{
  #0052a5
  text-decoration: none;
}

a.visited{
  #999
  text-decoration: none;
}

.links{
  font-family: "Bebas Neue";
}

.intextlinks{
  color: #a41700;
}
/*images*/

.schoolimg{
  padding-top: 20px;
  width: 100%;
  max-width: 900px;
}

.complaint{
  width: 100%
}

.intextpics{
  width: 100%
}
/*nav bar*/
.bg-dark {
 background:#A41700 !important;
}

.navbar {
 font-family: 'Bebas Neue', sans-serif;
 color: black;
 font-size: 24pt;
}

/*chapters*/
.chapter{
  font-family: "bebas neue";
  font-size: 24pt;
}

/*footer*/
footer{
  font-family: "Bebas neue";
  background-color: #a41700;
  font-size: 12pt;
  height: 100px;
  padding: 5px;
  text-align: center;
  color: white;

}
