.container{
  width: 100%
  max-width: 1200px;
  margin-left: 30px;
  padding: 10px;
}

.sections{
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 24pt;
}

.titles{
  font-family: "Playfair Display",serif;
  color: #77053a;
  font-size: 18pt;
  font-weight: bold;
  }

.dates{
  font-family: "Arimo", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #77053a
  font-size: 14pt;
}
p{
  font-family: "Arimo", sans-serif;
  font-size: 12pt;
}

h2{
  font-family: "Arimo", sans-serif;
  font-size: 12pt;
}

.skills{
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 24pt;
  margin-left: 15px;
}

.navbar-brand{
  font-family: "Playfair Display", serif;
}

.nav-link{
  font-family: "Playfair Display", serif
}

.dropdown-item{
  font-family: "Playfair Display", serif
}

footer{
  width: 100%;
  font-family: "Arimo", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 10pt;
  text-align: center;
  background color: #77053a;
  color: #77053a;
  border-style: solid;
  padding: 10px 0px;
  margin-top: 50px;
  margin-left: 285px;
  }

.socials{
  font-size: 50px;
}

.icons{
  font-size: 50px;
}
